.modal {
  &--overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  &--container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 2;
  }
  &--window {
    position: fixed;
    width: 650px;
    height: 454px;
    background-color: #ffffff;
    z-index: 3;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 4px 24px;
  }
  &--header {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
  }
  &--header--left {
    width: 275px;
    border-right: 1px #DDDDDD solid;
    padding: 20px 16px 0 30px;
  }
  &--header--right {
    width: 375px;
    padding: 20px 20px 0 30px;
    position: relative;
  }
  &--title {
    font-size: 28px;
    color: #15498F;
    line-height: 34px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin-bottom: 7px;
  }
  &--subtitle {
    font-size: 13px;
    color: #333333;
    line-height: 18px;
    font-family: Open sans, sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
    &__blue {
      color: #15498F;
      padding-left: 26px;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("../img/info.svg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &--close {
    width: 16px;
    height: 16px;
    position: absolute;
    background-image: url("../img/multiply.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  &--content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &--content--left {
    width: 275px;
    height: 342px;
    border-right: 1px #ddd solid;
    display: flex;
    flex-direction: column;
    /**
      scroller
     */
    .mCSB_inside > .mCSB_container {
      margin-right: 0px;
    }
    .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
      background-color: #15498F !important;
    }
  }
  &--clinic {
    border-bottom: 1px #ddd solid;
    padding: 20px 15px 20px 30px;
    cursor: pointer;
    transition: 0.3s all ease-in;
    &:hover,&__selected {
      background: rgba(21, 73, 143, 0.2);
    }
  }
  &--clinic--title {
    font-size: 16px;
    color: #333333;
    line-height: 22px;
    font-family: Open sans, sans-serif;
    font-weight: 700;
    margin-bottom: 3px;
    padding-left: 26px;
    position: relative;
    transition: 0.3s all ease-in;
    &::before {
      content: "";
      display: block;
      width: 11px;
      height: 15px;
      background-image: url("../img/location-pin.svg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
  &--clinic--subtitle {
    font-size: 13px;
    color: #333333;
    line-height: 18px;
    font-family: Open sans, sans-serif;
    padding-left: 26px;
  }

  &--content--right {
    width: 375px;
    padding: 20px 20px 0 20px;
    align-items: flex-start;
  }
  &--calendar--header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
  }
  &--calendar--arrow--left {
    width: 4px;
    height: 8px;
    background-image: url("../img/left_arrow.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 11px;
    cursor: pointer;
  }
  &--calendar--arrow--right {
    width: 4px;
    height: 8px;
    background-image: url("../img/right-arrow.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 11px;
    cursor: pointer;
  }
  &--calendar--month--name {
    font-size: 16px;
    color: #333333;
    line-height: 22px;
    font-family: Open sans, sans-serif;
    font-weight: 700;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 16px;
      background-image: url("../img/calendar.svg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      top: 2px;
      left: -19px;
    }
    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 4px;
      background-image: url("../img/down-arrow.svg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      top: 9px;
      right: -19px;
      cursor: pointer;
    }
  }
  &--calendar--days {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &--calendar--day {
    width: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--calendar--day--number {
    font-size: 21px;
    color: #15498F;
    line-height: 25px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
  }
  &--calendar--day--text {
    font-size: 13px;
    color: #BBBBBB;
    line-height: 18px;
    font-family: Open sans, sans-serif;
    font-weight: 400;
  }
  &--calendar--times {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &--calendar--times--block {
    display: flex;
    flex-direction: column;
    height: 205px;
    /**
      scroller
     */
    .mCSB_inside > .mCSB_container {
      margin-right: 0px;
    }
    .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical {
      margin: 0;
    }
    .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background-color: rgba(21, 73, 143, 0.21);
    }
    .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
      background-color: rgba(21, 73, 143, 0.6);
    }
  }
  &--calendar--time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 42px;
    font-size: 13px;
    color: #333333;
    line-height: 18px;
    font-family: Open sans, sans-serif;
    border: 2px #CCCCCC solid;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    background: #ffffff;
    transition: 0.3s all ease-in;
    &__selected, &:hover:not(&__disabled) {
      border: 2px #15498F solid;
      background: #15498F;
      color: #ffffff;
    }
    &__disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
}